<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Car Wash Club</title>
    <link rel="stylesheet" href="css/stylesheet.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="main">
      <div class="container">
        <div class="box">
          <label for="token" class="form-label">Token</label>
          <input type="text" class="form-input" id="input-token" />
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-input" id="input-password" />
          <label for="password" class="form-label">Confirme a Password</label>
          <input
            type="password"
            class="form-input"
            id="input-confirm-password"
          /><br />
          <button type="submit" onclick="changePassword()">Enviar</button>
          <div class="api-container">
            <span class="api-messages" id="api-messages"></span>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    const getData = () => {
      let data = {};

      let token = document.getElementById("input-token").value;
      let password = document.getElementById("input-password").value;
      let confirmPassword = document.getElementById("input-confirm-password")
        .value;

      if (!token || !password || !confirmPassword || !password) {
        document.getElementById("api-messages").innerHTML =
          "Deve preencher todos os campos";

        setTimeout(() => {
          document.getElementById("api-messages").innerHTML = "";
        }, 1000);
        return;
      } else if (password !== confirmPassword) {
        document.getElementById("api-messages").innerHTML =
          "Password não são iguais!";

        setTimeout(() => {
          document.getElementById("api-messages").innerHTML = "";
        }, 1000);
        return;
      } else {
        let queryString = window.location.search;
        let urlParams = new URLSearchParams(queryString);
        let email = urlParams.get("email");
        data.password = password;
        data.confirmPassword = confirmPassword;
        data.token = token;
        data.email = email;
        return data;
      }
    };

    const changePassword = () => {
      let baseUrl = "http://" + window.location.hostname;
      let xhttp = new XMLHttpRequest();

      let data = getData();

      if (!data) {
        return (document.getElementById("api-messages").innerHTML =
          "Dados em falta!");
      }

      xhttp.onreadystatechange = () => {
        if (xhttp.readyState == 4 && xhttp.status == 200) {
          let response = JSON.parse(xhttp.responseText);
          document.getElementById("api-messages").innerHTML =
            "Password alterada com sucesso!";
          document.getElementById("api-messages").style.color = "green";
          alert("Password alterada com sucesso!");
        } else {
          let response = JSON.parse(xhttp.responseText);
          document.getElementById("api-messages").innerHTML = response.message;
          document.getElementById("api-messages").style.color = "red";
        }
        setTimeout(() => {
          document.getElementById("api-messages").innerHTML = "";
        }, 2000);
      };
      xhttp.open("POST", baseUrl + "/auth/reset_password", true);
      xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xhttp.send(JSON.stringify(data));
    };
  </script>
</html>
