<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Car Wash Club</title>
    <link rel="stylesheet" href="css/stylesheet.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="main">
      <div class="container">
        <div class="box">
          <label for="token" class="form-label">Token</label>
          <input type="text" class="form-input" id="input-token" />
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-input" id="input-password" />
          <label for="password" class="form-label">Confirme a Password</label>
          <input
            type="password"
            class="form-input"
            id="input-confirm-password"
          /><br />
          <button type="submit" onclick="changePassword()">Enviar</button>
          <div class="api-container">
            <span class="api-messages" id="validation-messages"></span>
          </div>
        </div>
      </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
        </div>
        <h3 id="api-messages"></h3>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    // Get the modal
    modal = document.getElementById("myModal");

    const getData = () => {
      let data = {};

      let token = document.getElementById("input-token").value;
      let password = document.getElementById("input-password").value;
      let confirmPassword = document.getElementById("input-confirm-password")
        .value;

      if (!token || !password || !confirmPassword || !password) {
        return openModal("Deve preencher todos os campos!", "error");
      } else if (password !== confirmPassword) {
        document.getElementById("validation-messages").innerHTML =
          "Password não são iguais!";

        setTimeout(() => {
          document.getElementById("validation-messages").innerHTML = "";
        }, 1000);
      } else {
        let queryString = window.location.search;
        let urlParams = new URLSearchParams(queryString);
        let email = urlParams.get("email");
        data.password = password;
        data.confirmPassword = confirmPassword;
        data.token = token;
        data.email = email;
        return data;
      }
    };

    const changePassword = () => {
      let baseUrl = "http://" + location.host;
      let xhttp = new XMLHttpRequest();

      let data = getData();

      if (data === undefined) {
        return openModal("Dados em falta!", "error");
      }

      xhttp.onreadystatechange = () => {
        if (xhttp.readyState === 4 && xhttp.status === 200) {
          return openModal("Password alterada com sucesso!", "success");
        }
        if (xhttp.readyState === 4 && xhttp.statusText !== "OK") {
          let response = JSON.parse(xhttp.responseText);
          let errorID = response.message.id;
          switch (errorID) {
            case 8:
              openModal("Token Inválido", "error");
              break;
            case 9:
              openModal("Token expirado", "error");
            default:
              if (xhttp.status === 404) {
                return openModal(
                  "Utilizador não encontrado. Verifique se tem conta associada a este email."
                );
              }
              openModal("Erro interno. Tente mais tarde", "error");
              break;
          }
        }
      };
      xhttp.open("POST", baseUrl + "/auth/reset_password", true);
      xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xhttp.send(JSON.stringify(data));
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    };

    const openModal = (message, type) => {
      // Get the <span> element that closes the modal
      let span = document.getElementsByClassName("close")[0];

      document.getElementById("api-messages").innerHTML = message;

      type === "error"
        ? (document.getElementById("api-messages").style.color = "red")
        : (document.getElementById("api-messages").style.color = "green");
      // When the user clicks the button, open the modal
      modal.style.display = "block";

      // When the user clicks on <span> (x), close the modal
      span.onclick = function () {
        modal.style.display = "none";
      };
    };
  </script>
</html>
