<html lang="en">
  <head>
    <title>Car Wash Club</title>
    <link rel="stylesheet" href="css/stylesheet.css" />
    <link
      rel="icon"
      href="https://www.imocarwash.com/assets/images/favicon.ico"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="not-found-body">
    <div class="main">
      <div class="container-404">
        <!-- <img src="./img/page_404.png"></img> -->
        <h1 class="ml6">
          <span class="text-wrapper">
            <span class="letters">Not Authorized (⊙_⊙)？</span>
          </span>
        </h1>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script>
      // Wrap every letter in a span
      var textWrapper = document.querySelector(".ml6 .letters");
      textWrapper.innerHTML = textWrapper.textContent.replace(
        /\S/g,
        "<span class='letter'>$&</span>"
      );

      anime
        .timeline({ loop: true })
        .add({
          targets: ".ml6 .letter",
          translateY: ["1.1em", 0],
          translateZ: 0,
          duration: 750,
          delay: (el, i) => 50 * i,
        })
        .add({
          targets: ".ml6",
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000,
        });
    </script>
  </body>
</html>
