* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
  background-color: #fff;
}

.not-found-body .main {
  position: absolute;
  display: block;
  width: 85%;
  height: 85%;
  left: 8%;
  top: 10%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 10px 26px 0 rgba(0, 0, 0, 0.19);
}

.main .container-404 {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main {
  position: absolute;
  display: block;
  width: 85%;
  height: 85%;
  left: 8%;
  top: 10%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 10px 26px 0 rgba(0, 0, 0, 0.19);
}

.container {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 10px 10px;
  width: 300px;
}

.form-label {
  font-size: 20px;
  margin-top: 15px;
}

.api-container {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.api-messages {
  align-self: center;
  font-size: 16px;
  margin-top: 15px;
  color: #078d86;
  font-weight: bold;
}

.form-input {
  height: 30px;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
}

button {
  align-self: center;
  border-radius: 6px;
  width: 45%;
  height: 30px;
  font-size: 18px;
  outline: none;
  background-color: #0071ba;
  transition: background-color 0.5s ease-in;
}

button:hover {
  transition: background-color 0.5s ease-in;
  background-color: #3684b8;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  animation-name: example;
  animation-duration: 1s;
  animation-delay: -1s;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
  overflow: auto; /* Enable scroll if needed */
}

.modal-header {
  display: flex;
  height: auto;
  justify-content: flex-end;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes example {
  95% {
    padding-top: 50px;
  }
  100% {
    padding-top: 150px;
  }
}

.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.5em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

@media only screen and (max-width: 768px) {
  .ml6 {
    position: relative;
    font-weight: 900;
    font-size: 1.6em;
  }

  .main .container-404 {
    display: flex;
    justify-content: center;
    width: 290px;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .not-found-body .main {
    position: absolute;
    display: block;
    width: 90%;
    height: 50%;
    left: 5%;
    top: 25%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 10px 26px 0 rgba(0, 0, 0, 0.19);
  }

  .container {
    display: flex;
    justify-content: center;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .container .box {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: auto;
    height: auto;
  }

  .main .container {
    display: flex;
    justify-content: center;
    width: 260px;
    height: auto;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
