<div
  style="
    padding: 10px;
    color: white;
    background-color: #064b7e;
    border: 1px solid #99cdeb;
    font-size: 13px;
  "
>
  <div style="margin: 10px">
    <p>A equipe Car Wash Club App</p>
    <p>E-Mail: joanacosta.costa007@gmail.com</p>
  </div>
</div>
