<div style="background-color: #064b7e; border: 1px solid #99cdeb">
  <h1
    style="
      font-weight: bold;
      margin: 0px;
      color: white;
      padding: 10px;
      padding-left: 5px;
      display: inline-block;
      vertical-align: middle;
    "
  >
    Car Wash Club App
  </h1>
</div>
